.title{
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.collapsible{
    color: white;
    cursor: pointer;
    padding: 18px;
    height: fit-content;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    background-color: #076979;
}

.collapsible:hover{
    background-color: #0d505a;
}


#content{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.corner{
    border-radius: 15px !important;
}