.footer-div{
    width: 100%;
    background-color: black;
}

.footer-div a:hover{
    color: #8e98a0 !important;
}

iframe{
    border-radius: 10px;
    margin-top: 0.5rem;
}

.navbar{
    background-color: #FF7D00;
    color: white
}

.navbar a{
    color: white;
}

.nav-link:hover{
    color: #3a3a3a
}

.ajanlat{
    color: #030e12;
    border-color: #030e12;
}

.ajanlat:hover{
    background-color: #030e12;
    color: #fcde67;
}
