.footer-div{
    width: 100%;
    background-color: black;
}

.footer-div a:hover{
    color: #8e98a0 !important;
}

iframe{
    border-radius: 10px;
    margin-top: 0.5rem;
}

.navbar{
    background-color: #FF7D00;
    color: white
}

.navbar a{
    color: white;
}

.nav-link:hover{
    color: #000000
}


.ajanlat{
    color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
}

.ajanlat:hover{
    background-color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
    color: #FF7D00;
}

.navbar-toggler{
    color: white;
}

.footer-content-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-content > ul{
    text-align: center;
}

.dropdown-item{
    color: black !important;
}

.navbar-toggler{
    z-index: 1000;
}